// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer);
  padding-bottom: var(--spacer);
  margin-bottom: var(--spacer-3);
}

.masthead-home {
  margin-bottom: 0;

  a.title {
    text-decoration: none;
    color: var(--title);
  }
}

.masthead-post {
  margin-bottom: 0;

  a.title {
    color: inherit;
    text-decoration: none;
  }
}

// Navbar styles
.nav {
  font-family: var(--title-font);
  a {
    text-decoration: none;
  }
  float: right;
  line-height: 1.25rem;
  word-spacing: 1rem;
  color:var(--title)
}
