:root {
  --gray-000: #f8f9fa;
  //--gray-100: #f1f3f5;
  //--gray-200: #e9ecef;
  --gray-300: #dee2e6;
  //--gray-400: #ced4da;
  //--gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  //--gray-800: #343a40;
  //--gray-900: #212529;

  //--red-300: #ffa8a8;
  //--red-400: #ff8787;
  //
  //--red-600: #fa5252;
  //--red-700: #f03e3e;
  //--red-800: #e03131;
  --red-900: #c92a2a;

  --yellow-100: #fff3bf;

  // Core colours
  --title: var(--red-900);
  --emphasis: #000;
  --main: var(--gray-700);
  --aside: var(--gray-600);


  --title-font: "IM Fell English";
  --body-font: "Crimson Text";
  --body-font-size: 20px;
  --body-line-height: 1.5;


  --border-radius: .25rem;

  --code-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --code-color: var(--grape);

  --spacer: 1rem;
  --spacer-2: calc(var(--spacer) * 1.5);
  --spacer-3: calc(var(--spacer) * 3);

  --body-bg: #fff;
  
  --border-color: var(--gray-300);
  
  --code-bg: var(--gray-000);
}