<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    <div class="container content">

      <header class="masthead">
      {% if page.title == "Home" %}
        <h1 class="masthead-home">
      {% else %}
        <h3 class="masthead-post">
      {% endif %}        

          <a class="title" href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>

          <nav class="nav">
            {% for nav in site.nav %}
            <a href="{{ nav.url }}">{{ nav.title }}</a>
            {% endfor %}
          </nav>

      {% if page.title == "Home" %}
        </h1>
      {% else %}
        </h3>
      {% endif %}
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer aside">
        <small>
          &copy;
          <time datetime="{{ site.time | date_to_xmlschema }}"
            >{{ site.time | date: '%Y' }}</time
          >. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>
